body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

section {
    margin-bottom: 70px;
}

.wrapper_menu {
    width: 100%;
    max-width: 400px;
}

.wrapper_menu ul {
    display: flex;
    justify-content: space-between;
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
}

.section_title,.chapter {
    display: inline-block;
}

.react_fundamentals ul {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;  

}

.text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.logo {
    width: 100%;
    max-width: 238px;
}

.strip  {
    width: 100px;
    height: 8px;
    background-color: #000;
}

.section_title {
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
}

.side_menu {
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-right: 40px;
    background-color: #fff;
    position: sticky;
    top: 100px;
}

.side_menu li {
    margin-bottom: 80px;
    border-bottom: 1px solid #000;
}

.chapter {
    font-family: 'Farro';
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
}

.wrapper_menu li {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;  
}

.wrapper_menu li:first-child {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
}

.marked {
    background-color: rgb(188, 187, 187);
}

.underlined {
    text-decoration: underline;
}

.main_content {
    max-width: 785px;
}

.background_img {
    width: 100%;
    max-width: 760px;
    position: fixed;
    top: 170px;
    left: 729px;
    z-index: -1;
}

.background_img img {
    width: 100%;
}

