.main {
    background-color: #F0F0F0;
    border: 2px solid #BEB7BA;
}

.content {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-style: italic;
}

.main {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #CAA0B2;
}

.list {
    padding-left: 10px;
}