/*normalize*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
}
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}



/*Core styles*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: normal;
    color: #070707;
}


.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 100px 0;
}


/*header*/

.nav_list {
    font-size: 0; 
    display: flex;
    justify-content: center;
    padding: 25px 0; 
    border-bottom: 1px solid #828282;
} 

.nav_item_link {
    font-size: 18px;
    color: #828282;
    text-decoration: none;
}

.nav_item_link.active {
    color: #000;
}

.nav_item_link:hover {
    color: #000;
} 

.nav_item:not(:last-child) {
    margin-right: 40px;
}

/*main*/

#home {
    padding: 0;
}

.general_title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 50px;
}

.hero_img {
    width: 100%;
    display: block;
}

#aboutMe {
    background-color: #F6F6F6;
}

.section_title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 50px;
}

.aboutMe {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
} 
/*не розумію чому не влізло останнє слово it як в макеті*/

.about_text {
    font-size: 18px;
    width: 100%;
    max-width: 480px;;
    line-height: 1.33;
    margin: 0 auto;
    text-align: center;
}

.about_text:not(:last-child) {
    margin-bottom: 30px;
}

.about_text span {
    display: block;
}

.skill_item {
    width: 100%;
    max-width: 170px;
}

.skill_item:last-child .skill_img {
    width: 58px;
}

.skills_text {
    text-align: center;
    font-size: 18px;
    line-height: 1.35;
    margin-bottom: 50px;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 57px 0;
}

.skill_img img {
    width: 100%;
    max-width: 67px;
    display: block;
    margin: 0 auto;
}

.skill_img {
    width: 80px;
    margin: 0 auto 25px;
}

.skill_name {
    color: #828282;
    font-size: 14px;
    font-weight: bold;
    max-width: 80px;
    margin: 0 auto 60px;
    text-align: center;
}

.skill_name.long {
    min-width: 100px;
}

.skill_name.long span {
    display: block;
}

.skill_rating {
    font-size: 0;
}

.skill_star {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../img/star_active.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.skill_star.grey {
    background-image: url(../img/star_none_active.png);
}

.skill_star:not(:last-child) {
    margin-right: 10px;
}


#portfolio {
    background-color: #F6F6F6;
}

.portfolio_text {
    width: 200px;
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 70px;
    text-decoration: underline;
}

.portfolio_text:last-child {
    padding-bottom: 0;
}

.contacts_text {
    padding: 0;
}

.contacts_text {
    font-size: 18px;
    width: 100%;
    max-width: 290px;;
    line-height: 1.33;
    margin: 0 auto;
    text-align: center;
}

.contacts_text {
    display: block;
}
.button {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    
}

.button a {
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 22px;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: 0 auto 60px;
}

.last_text {
    font-size: 14px;
    width: 100%;
    max-width: 220px;
    color: #828282;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.last_text span {
    display: block;
}


*/

/*Зробити картки та p span розмістити*/